{% extends "base.html" %}
{%  load crispy_forms_tags %}

{% block content %}

<form action="" method="POST" autocomplete="off">
    {% csrf_token %}
    {{form.nombrecompleto|as_crispy_field}}
    {{form.email|as_crispy_field}}
    {{form.fecha_consulta|as_crispy_field}}
    {{form.actividad|as_crispy_field}}

    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg">
                <i class="fas fa-database"></i>
                Submit
            </button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'cliente_lista' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>
</form>

{% endblock content %}